*.zip filter=lfs diff=lfs merge=lfs -text
*.zip
git[[:space:]]lfs[[:space:]]track[[:space:]]"*.mp4" filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
C:/Users/Moses/Desktop/Synchrony/A[[:space:]]Walk[[:space:]]Around[[:space:]]STEP[[:space:]]Repository/A[[:space:]]Walk[[:space:]]Around[[:space:]]STEP[[:space:]]Videos.zip filter=lfs diff=lfs merge=lfs -text
B:/!Synchrony/Videos2.zip filter=lfs diff=lfs merge=lfs -text
