*.mp4 filter=lfs diff=lfs merge=lfs -text
B:/!Synchrony/Finalized[[:space:]]Projects/AWAS[[:space:]]v6[[:space:]]Final[[:space:]]1080p/AWAS[[:space:]]v6[[:space:]]Final[[:space:]]1080p.mp4 filter=lfs diff=lfs merge=lfs -text
